@import "tailwindcss";
@import "./styles/DirectoryView.css";
body {
    font-family: Arial, sans-serif;
}

::selection{
  background-color: orange;
  color: white;
}

.google-login {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.userPicture {
  width: 20px;
  border: 1px solid rgb(182, 180, 180);
  padding: 1px;
  border-radius: 100%;
}
